img {
    padding: 15px;
    border-radius: 10%;
}

.text-info{
    font-size: xx-large;
}

dt{
    font-size: x-large;
}

dd{
    font-size: large;
}

a{
    padding: 5px;
    text-align: center;
}

h3{
    padding: 20px;
}


.row{
    background-color: white;
}